// :root {
//     --color-primary: white;
//     --color-secondary: black;
//     --color-border: white;
//     --color-light: #ffffff;
//     --color-dark: #000000;
//     --color-gray: rgba(0, 0, 0, 0.048);
// }

$color-primary: white;
$color-secondary: black;
$color-border: white;
$color-light: white;
$color-dark: black;
$color-gray: rgba(0, 0, 0, 0.048);